.container {
    width: min(800px, 90vw);
    margin: 0 auto;
}

.dashboard h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
}

.dashboard > .container > p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 25px;
}

.add-study-record-btn {
    display: flex;
    padding: 4px;
    width: 88px;
    height: 22px;
    justify-content: center;
    align-items: center;
    background: #165dfb;
    border-radius: 6px;
    border: none;

    color: white;
    font-size: 10px;
    font-weight: 400;

    margin-bottom: 23px;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px;
    margin-top: 16px;
}

.recent-study-list {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 16px;
    align-items: start;
    margin-top: 16px;
}

.dashboard-right {
    position: sticky;
    display: flex;
    flex-direction: column;

    justify-self: end;
}

@media (max-width: 900px) {
    .dashboard-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dashboard-cards {
        grid-template-columns: 1fr;
    }
}
