.apple-node {
    position: relative;
    display: inline-block;
}

.apple-img {
    display: flex;
    height: auto;
    width: auto;
}

.apple-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(10px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
